<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>com.example.servlets.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ValidateOtpServlet</servlet-name>
        <servlet-class>com.example.servlets.ValidateOtpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateOtpServlet</servlet-name>
        <url-pattern>/validateOtp</url-pattern>
    </servlet-mapping>

</web-app>


